@model List<Project>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}
<div class="container">



<div>
    <!-- ==================================================================================== -->
    <!-- ==================================================================================== -->
    <!-- ==================================================================================== -->

    <div class="mx-3">

        <div style="display:flex; justify-content:space-between; align-items:center">

            <div>
                <h1>Project</h1>
            </div>


             <div>
                <a asp-action="create" asp-controller="Project">
            <button class=" btn btn-info">
            <i class="bi bi-pencil-square"></i>
            Create
            </button>
            </a>
            </div>  

        </div>

        <div>
            <table class="table">
                <thead>
                    <tr>

                        <th scope="col">#</th>
                        <th scope="col">Order</th>
                        <th scope="col">Image</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Links</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        count++;

                        <tr>
                            <td>@count</td>
                            <td class="text-danger">@item.order</td>
                            <td>
                                <img style="width:100px" src="~/uploads/project/@item.Images" />
                            </td>
                            <td>@item.Title</td>
                            <td>@item.Description</td>
                            <td>
                                @if (item.GithubLink!=null)
                                    {
                                         <a href="@item.GithubLink" target="_blank">

                                            <i class="fa fa-bars"></i>
                            </a>
                                    }
                                    @if (item.ProjectLink!=null)
                                    {
                                        
                            <a href="@item.ProjectLink" target="_blank" >
                                         <i class="fas fa-link"></i>
                            </a>
                            
                                    }
                              
                            </td>

                            <td>
                                <div>
                                    <div>
                                        <a asp-action="update" asp-controller="Project" asp-route-id="@item.Id">
                                            <button class="btn btn-primary">
                                                <i class="bi bi-pencil-square"></i>

                                            </button>
                                        </a>
                                        <a class="mx-1" asp-action="delete" asp-controller="Project" asp-route-id="@item.Id">
                                    <button class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                    </button>
                                    </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }



                </tbody>
            </table>
        </div>
    </div>
    <!-- ==================================================================================== -->
    <!-- ==================================================================================== -->
    <!-- ==================================================================================== -->





</div>
</div>
